<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-UK" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KXLR1GHML2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KXLR1GHML2');
</script> 
    
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
       
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}               
       
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>        
        
        <p> <i class="fas fa-envelope fa-sm"></i> &nbsp amh239@cam.ac.uk <br> <i class="fas fa-map-marker-alt "></i> &nbsp Faculty of Economics <br> &nbsp &nbsp &nbsp University of Cambridge <br> &nbsp &nbsp &nbsp Austin Roberts Building <br> &nbsp &nbsp &nbsp Sidgwick Avenue <br> &nbsp &nbsp &nbsp Cambridge <br> &nbsp &nbsp &nbsp CB3 9DD </p>    

        
        
        
      </header>
      <section>

      {{ content }}
    
       <footer class="absolute-bottom">
  <div class="container mt-0">
    &copy; 2021 Ayden Higgins.
  </div>
</footer> 
        
      </section>

    </div>
    

  </body>
</html>
